/* Normalize HTML */

body {
    padding: 0;
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

.red-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    background-color: red;
    width: 100%;
    height: 100vh;

    /* padding-top: 1rem;
    padding-left: 0.5rem; */
    /* Kompass System, N O S W 
    padding: 1rem 0 0 1.5rem; */

}

.green-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 200px;
    height: 150px;
}

.content-box {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    width: 100%;
    height: 100%;
    border: 3px solid white;
}

.box-mid {
    align-items: center;
}

.box-bot {
    align-items: flex-mid;
}